.wrapper {
  border: 3px solid black;
  border-radius: 15px;
  align-content: center;
  background-color: rgb(245, 242, 238);
}
.thumb {
}
.picture {
  background-color: rgb(54, 51, 51);
  border-radius: 50%;
  margin: 0 auto;
}
.stats {
  display: flex;
  justify-content: space-around;
  margin: 0;
  height: auto;
}
.stats_item {
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.title {
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
}
.tag {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(135, 135, 133);
}
.location {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgb(124, 124, 117);
}
.label {
  display: block;
}
.quantity {
  font-weight: 800;
}
