.wrapper {
  display: flex;
  padding: 20px;
  gap: 20px;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px auto;
  background-color: #fff;
}
.thumb {
  flex-direction: row;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(230, 230, 230);
}
.status {
  color: red;
}
.statusActive {
  color: green;
}
